<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New chat</title>
</head>

<body>
    <form action="/books" method="post">
        <input type="text" placeholder="Enter title " name="title"> <br /><br />
        <input type="text" placeholder="Enter author" name="author"><br /><br />
        <input type="text" placeholder="Enter price" name="price"><br /><br />
        <button> Create </button>
    </form>

</body>

</html>